{{ define "main" }}

{{ partial "page-title.html" . }}
<section class="section">
  <div class="container">
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Download TOS now</h2>
        <a class="btn btn-primary" href="https://repo.pbfp.xyz/toslive.iso"
          >TOS Live</a
        >
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Download TOS server edition</h2>
        <a class="btn btn-primary" href="https://repo.pbfp.xyz/tosserver.iso"
          >TOS SE</a
        >
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Download TOS AZERTY</h2>
        <a
          class="btn btn-primary"
          href="https://repo.pbfp.xyz/toslive-azerty.iso"
          >TOS Live AZERTY</a
        >
      </div>
    </div>
    <br />
    <br />
    <br />
    <div class="row">
      <div class="col-12 text-center">
        <h2 class="section-title">Download TOS server AZERTY</h2>
        <a
          class="btn btn-primary"
          href="https://repo.pbfp.xyz/tosserver-azerty.iso"
          >TOS SE AZERTY</a
        >
      </div>
    </div>
  </div>
</section>

{{ end }}
